body {
	background-color: white;
	margin: auto;
}
#top-bar {
	background: transparent url("images/top-bar.png");
	height: 29px;
	margin-top: 0%;
	margin-left: 38%;
}
#logo {
	background: transparent url("images/logo.png");
	height: 330px;
	margin-left: 13%;
	background-repeat: no-repeat;
}
#mid-bar {
	background: transparent url("images/mid-bar.png");
	height: 32px;
	margin-top: 2%;
	margin-left: 20%;
	background-repeat: no-repeat;
}
#bottom-bar {
	background: transparent url("images/bottom-bar.png");
	height: 25px;
	margin-top: 37%;
	margin-left: 15%;
	background-repeat: no-repeat;
}
