body {
	background-color: white;
	margin: auto;
}
#top-bar {
	height: 20px;
	margin-top: 2%;
	margin-left: 87%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 87%;
	word-spacing: 15px;
}
#logo {
	margin-top: 10%;
	margin-left: 38%;
	font-size: 500%;
	font-family: Tahoma, Geneva, sans-serif;
}
.wrap {
	margin-top: 2%;
	margin-left: 45%;
}
#bottom-bar {
	height: 10px;
	margin-top: 37%;
	margin-left: 15%;
	background-repeat: no-repeat;
}
#logo {
}
