body {
	background-color: white;
	margin: auto;
}
#top-bar {
	background: transparent url("images/top-bar.png");
	height: 29px;
	margin-top: 0px;
	margin-left: 569px;
}
#logo {
	background: transparent url("images/logo.png");
	height: 330px;
	margin-left: 180px;
	background-repeat: no-repeat;
}
#mid-bar {
	background: transparent url("images/mid-bar.png");
	height: 29px;
	margin-top: 2px;
	margin-left: 180px;
}
#bottom-bar {
	background: transparent url("images/bottom-bar.png");
	margin-bottom: 5px;
	height: 33px;
	width: 5000px;
	margin-left: 180px;
	background-repeat: no-repeat;
}